
<% provide(:title, "Log in") %>

<body class="login">
<!-- header starts here -->

<!-- header ends here -->
<div class="loginbox radius">
  <div class="loginboxinner radius">
    <div class="loginform">
      <%= form_for(:usuarios, url:new_usuario_path) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "radius" %><br>

        <%= f.label :email %>
        <%= f.email_field :email, class: "radius" %><br>

        <%= f.label :login %>
        <%= f.text_field :login, class: "radius" %><br>

        <%= f.label :password %>
        <%= f.password_field :password, class: "radius" %><br>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "radius" %><br>

        <%= f.label :sobre %>
        <%= f.text_area :sobre %><br>

        <%= f.label :perfil_privado %>
        <%= f.label(:true, "Sim")%>
        <%= f.radio_button(:privado, true) %>
        <%= f.label(:true, "Não")%>
        <%= f.radio_button(:privado, false) %> <br>

        <%= f.label :avatar %><br>
        <%= f.file_field :avatar, class: "radius" %><br>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
    <!--loginform-->
  </div>
  <!--loginboxinner-->
</div>
<!--loginbox-->
</body>