
<% provide(:title, "Log in") %>

<body class="login">
<!-- header starts here -->

<!-- header ends here -->
<div class="loginbox radius">
  <div class="loginboxinner radius">
    <div class="loginform">
      <%= form_for(:usuarios, url:new_usuario_path) do |f| %>
        <%= f.text_field :name, placeholder: "Nome", class: "radius" %><br>
        <%= f.email_field :email, placeholder: "Email", class: "radius" %><br>
        <%= f.text_field :login, placeholder: "Login", class: "radius" %><br>
        <%= f.password_field :password, placeholder: "Senha", class: "radius" %><br>

        <%= f.label :perfil_privado, class: "privado" %>
        <div class="container-opcoes-privado">
          <%= f.label(:true, "Sim")%>
          <%= f.radio_button(:privado, true, class: "opcoes-privado") %>
          <%= f.label(:true, "Não")%>
          <%= f.radio_button(:privado, false, checked: true, class: "opcoes-privado") %> <br>
        </div>

        <%= f.submit "Criar conta!", class: "loginboxbutton" %>
      <% end %>
    </div>
    <!--loginform-->
  </div>
  <!--loginboxinner-->
</div>
<!--loginbox-->
</body>