<% provide(:title, 'Cadastro de Receita') %>

<div class="config-container">
  <div class="loginbox radius">
    <div class="loginboxinner radius">
      <div class="loginform">
        <%= form_for @receita do |f| %>
          <%= f.text_field :title, placeholder: "Título", class: "radius" %><br>
          <%= f.text_area :modo_de_preparo, placeholder: "Modo de preparo", cols: '49', rows: '7', class: 'radius' %><br>
          <b><%= f.label :ingredientes %></b>
          <div id="ingredientes-container">
            <div class="row" style="width:100%;">
              <div class="columns-4"></div>
              <%= number_field_tag 'receita[ingredientes][][quantidade]', class: 'radius columns-4' %>
              <div class="columns-4"></div>
            </div>
            <div class="div-select row" style="width:100%;">
              <div class="columns-4"></div>
              <%= select_tag 'receita[ingredientes][][id]', options_for_select(ingredientes_for_select),  { "data-context"=> "ingredientes", class: 'radius columns-4'} %> 
              <div class="columns-4"></div>
              <br>
            </div>
          </div>
          <a href="" data-context='mais-ingredientes'>Mais ingredientes</a>
          <br>
          <div class="container-avatar-label">
            <b><%= f.label :image, class: "avatar-usuario-edit no-padding" %></b><br>
          </div>
          <%= f.file_field :image, class: 'radius file-upload-area' %><br>
          <%= hidden_field_tag 'usuario_id', @user.id %>
          <%= f.submit "Cadastrar receita", class: "loginboxbutton" %>
        <% end %>
        <div data-context="popup" style="display: none;">
          <%= form_for :ingrediente, url: url_for( controller: "ingredientes", action: "create", usuario_id: @user.id ) do |fi| %>
            <%= fi.label :novo_ingrediente %>  <%= fi.text_field :name %>
            <%= fi.submit "Cadastrar ingrediente", class: "loginboxbutton" %>
          <% end %>
        </div>
      </div>
      <!--loginform-->
    </div>
    <!--loginboxinner-->
  </div>
</div>

<script type="text/javascript">
  function add_ingredient_field(container) {
    var field1 = '<%= number_field_tag("receita[ingredientes][][quantidade]").to_s%>';
    var field2 = '<%= select_tag("receita[ingredientes][][id]", options_for_select(ingredientes_for_select).tr("\n", ""),  {"data-context"=> "ingredientes"} ) %><br>';
    field2 = field2.replace(/&gt;/g, '>').replace(/&lt;/g,'<').replace(/&quot;/g, '"');

    $(container).append(field1);
    $(container).append($(field2));
  }

  function display_popup(popup) {
    popup.style.display= "block";
  }

  function bind_select_tag() {
    $('[data-context="ingredientes"]').each(function(){
      $(this).on('change', function(){
        if($('option:selected', this).text() == 'Outro') {
          display_popup($('[data-context="popup"]')[0]);
        }
      });
    });
  }

  $(document).ready(function() {
    bind_select_tag();
    $('[data-context="mais-ingredientes"]').click(function (e){
      e.preventDefault();
      add_ingredient_field($("#ingredientes-container"));
      bind_select_tag();
    });
  });
</script>