<h1><%= @receita.title %></h1>

<%= image_tag @receita.image.url unless @receita.image.url.blank? %> <br>

<b>Ingredientes</b>
<%= tabela_de_ingredientes(@receita) %>
<br>
<b>Modo de preparo</b><br>
<%= @receita.modo_de_preparo %> <br>


<%= link_to "Excluir receita", url_for(controller: 'receitas', action: 'destroy', id: @receita.id) %>

