  
  <% deve_seguir = !(current_user.seguindo.include?(@user)) %>
  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center usuario-home">  
    <h1><%= @user.name.titleize %></h1><br>
    <!-- <img src="/w3images/chef.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533"> -->
    <%= image_tag @user.avatar.url, class: "avatar-usuario" %>
    <div class="w3-padding-32 sobre">
      <p>
      <%= @user.sobre %>        
      </p>
    </div>
    <% if @user == current_user then %>
      <%= link_to "Cadastrar nova receita", new_receita_path(usuario_id: @user.id) %>
    <% else %>
        <a href=<%= url_for(controller: 'usuarios', action: (deve_seguir ? 'seguir' : 'deixar_de_seguir'), user_id: @user.id)%>><button><%= deve_seguir ? "Seguir" : "Deixar de Seguir" %></button> </a>
    <% end %>
  </div>
  <hr>

    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <% @receitas.each do |receita| %>
          <div class="w3-quarter" style="display:inline-block;">
            <%= image_tag receita.image.url(:thumb), class: "img-receitas-home" %>
            <h3><%= link_to receita.title.titleize, receita_path(receita) %></h3>
          </div>
      <% end %>     
    </div>
<!-- 
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="/w3images/sandwich.jpg" alt="Sandwich" style="width:100%">
      <h3>The Perfect Sandwich, A Real NYC Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/steak.jpg" alt="Steak" style="width:100%">
      <h3>Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/cherries.jpg" alt="Cherries" style="width:100%">
      <h3>Cherries, interrupted</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/wine.jpg" alt="Pasta and Wine" style="width:100%">
      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div> -->

<!-- 
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

    <hr id="about">
 -->

  

<!-- End page content -->
</div>